os: osx
language: c
branches:
  only: master
compiler:
- clang
cache:
  ccache: true
  directories:
  - config.cache
install:
- HOMEBREW_NO_AUTO_UPDATE=1 brew install --ignore-already-installed ccache freetype
  jpeg libpng libtiff libtool little-cms2 openjpeg webp xz libxml2 || true
- export PATH="/usr/local/opt/ccache/libexec:$PATH"
- export CCACHE_COMPRESS=""
- sysctl -n hw.ncpu
- sysctl -n hw.physicalcpu
env:
  global:
  - MAKEFLAGS="-j $(sysctl -n hw.ncpu)"
script: |
  set -e
  set -x
  export CFLAGS="-Wno-deprecated-declarations -Wdeclaration-after-statement -Wno-error=unused-variable"
  ./configure --cache-file --enable-osx-universal-binary=no --disable-dependency-tracking --disable-silent-rules --enable-static --disable-shared --without-perl --disable-opencl --disable-openmp --with-freetype=yes --with-modules --with-webp=yes --with-openjp2 --without-gslib --without-fftw --without-pango --without-x --without-wmf --with-magick-plus-plus=no --with-rsvg=no --with-gvc=no --with-quantum-depth=16 --enable-delegate-build --prefix='/usr/local' --with-raw=yes
  make
  mkdir out-build
  mkdir out-dmg
  make DEST_DIR=$PWD/out-build install
  pkgbuild --root ./out-build/ -i com.imagemagick --install-location / out-dmg/imagemagick.pkg
  hdiutil makehybrid -hfs -hfs-volume-name imagemagick -o ./imagemagick.dmg out-dmg
  hdiutil attach imagemagick.dmg
  ls -la /Volumes/imagemagick/
  sudo installer -package /Volumes/imagemagick/imagemagick.pkg -target /
  ls -la /usr/local/bin/magick || true
  hdiutil detach /Volumes/imagemagick
  magick logo: logo.gif
  identify logo.gif
deploy:
  provider: releases
  api_key:
    secure: ZGDt370PF7mwgXMF2PmnDvYUNY2CKRkP9wk9awh1DN47TkPnbBHDPqTzkM4ISozIHAqwQ2UIGPteC3qUHCo1HV1BE+yqdobKOxEWB/vy5/VwQ+At2PVgq/VH0Z2NttZEF1wHbzrDTjlMUgxpXLF1xgGH8zVHLTmiPwddAQoWsakLreMpo5D+thYGl0QqWkPbauXLX8U1wC8XMwV3XmLJWqB/19AqTScgV0Ua/jVEx9wWtgIMRt07usgJEVFVnYOHsfzUu6Byz9wlGDmm+43HFIpPC48MQjhdWuhP6K3MUtiddq2iY7DTOiAGkXfxobd3nP0Nvkwz18tDbvuGOdBQk9ssu9GHCZM6/1pEWBThtXTqMfhh402iZW3xnrJMmT1/jgnskTUkTzj/AbG2tNb0QuLwu73PPLwj1iQRYF1TJqLTNWMPTg5Y4ISXk/Xn+0zrcH30IG/tTorVBg9SO8GLYsifaAuxpHF3xIy6TD+mXhpxedJ//RmNKfRkq+i9s9y4pcxhPucITw2+3GsZvPI+MJcn4u9kGfoqRsaeICIlGDHoNGP6/p9IkAV7eG4ogbd55KwQL04Tcle4n6wHUxK/2xCX+DCGAog+wXJMx7KKalTmDQjz8HTGsP2u356Oes4l+VhI78vvyEhTJM2UX018OTmnQCFH7e+2VX/SZnNFvIg=
  file: imagemagick.dmg
  on:
    repo: davehouse/ImageMagick
    tags: true
  skip_cleanup: true
  edge: true
